.main{
	background-image: linear-gradient(to bottom, #F1C40F, #E67E22);
    height: 85vh;
}
.foot{
    background-color: gray;
    height: 50vh;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
	height: max-content !important;
	padding: 0 25px;
}

.right-home{
  height: 500px;
  width:600px;
  margin-left: 120px;
}
.mainImage{
    height: 100%;
    width: 100%;
}

.fresh{
    font-size: 60px;
    font-family: roboto;
}

.fresh span{
    color: #e91e63;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

.btn-order{
    height: 45px;
    min-width: 150px;
    background-color: #e91e63;
    color: white;
    border-style: none;
    font-size: 20px;
    font-family: roboto;
    border-radius: 4px;
    font-weight: 500;
}

.btn-order:hover{
    background-color: #ab083e;
}

.btn-order:active{
    background-color: #ee2f6e;
}

.para{
    margin: 30px 0;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;


   display: flex;
   flex-direction: column;
   align-items: center;

}
.footer-col > ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.face{
  background-color: #3B5998;
  color: white;
}
.fa-twitter {
  background-color: #55ACEE;
  color: white;
}
.fa-linkedin {
  background-color: #007bb5;
  color: white;
}
.fa-instagram {
  background-color: #125688;
  color: white;
}

/*responsive*/
@media only screen and (max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media only screen and (max-width: 1100px)
{
	.main{
		display: block;
		height: 120vh;
	}
	.left-home{
		text-align: center;
		padding-top: 30px;
	}
	.order{
	}
	.right-home{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 0px;
		margin-top: 30px;
		width: 100%;
		height: 400px;
	}
	.mainImage{
		width: 400px;
		height: 350px;;
	}
}

/* Height for medium screens */
@media only screen and (max-width: 768px) {
	.main {
		height: 80vh;
	}
}
/* Height for large screens */
@media only screen and (max-width: 1000px) {
	.main {
		height: 110vh;
	}
}
/* Height for small screens  */
@media only screen and (max-width: 400px)
{
	.main {
		display: block;
		height: 130vh;
	}
	.mainImage{
		width: 300px;
		height: 250px;;
	}
}