*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    font-family: Google Sans Regular;
    box-sizing:border-box;
}

header{
    position:sticky;
    top:0px;
    box-shadow:0px 4px 11px rgba(0,0,0,0.4);
    width:100%;
    height:65px;
    background-color: #e4641a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;
    z-index:7;
}
.logo{
    font-size:28px;
    font-weight:bold;
    color:white;
}
.hamburger{
    display:none;
}

.nav-bar ul {
    display:flex;
}
.nav-bar ul li a {
    display:block;
    color:white;
    font-size:20px;
    padding:10px 25px;
    margin:0px 25px;
    border-radius: 50px;
    margin:0 5px;

    transition:0.4s;
}

.nav-bar ul li a:hover{
    color:black;
    background-color: white;
}

@media only screen and (max-width: 1320px)
{
    header{
        padding:0 50px;
    }
}
@media only screen and (max-width: 1100px)
{
    header{
        padding:0 30px;
    }
}
@media only screen and (max-width: 1320px)
{
    .hamburger{
        display:block;
        cursor:pointer;
    }
    .hamburger .line {
        width: 30px;
        height:3px;
        background-color:white;
        margin:6px 0px;
    }
    .nav-bar{
        height:0px;

        position: absolute;
        top:65px;
        left:0;
        right:0;
        width:100%;
        background-color:#E67E22;
        overflow:hidden;
        transition: 0.5s;
    }
    .nav-bar ul {
        display:block;
        width:fit-content;
        margin: 80px auto 0 auto;
        text-align:center;
        transition:0.5s;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        opacity: 0;
    }
    .active{
        height:450px;
        box-shadow: none;
    }
    .active ul li a{
        opacity:1;
    }
}